@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F3F1ED;
  color: #1C1C1E;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}
